<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="-m5Prly7AuIjpMZRmwVK2qcm5QJZNeRlgeXxxWUSLro" />

    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/fs.gridlock.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    <!--[if lt IE 9]>
        <script src="{{asset "js/html5shiv.js"}}"></script>
    <![endif]-->

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} gridlock">

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer clearfix row">
         <section class="copyright desktop-4"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
         <section class="about desktop-4"><a href="{{@blog.url}}/have-a-gift-idea/">Have a Gift Idea?</a></section>
         <section class="poweredby desktop-4"><a href="http://himandher.ca" target="_blank" rel="nofollow">HIM&bullet;HER</a> &bullet; <a href="https://ghost.org" target="_blank">Ghost</a></section>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/respond.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/isotope.pkgd.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57092913-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>
